<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Curious Cat Behavior</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>/index.html</welcome-file>
        <welcome-file>/index.htm</welcome-file>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Use form-based auth -->
    <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
          <form-login-page>/login.jsp</form-login-page>
          <form-error-page>/loginError.jsp</form-error-page>
      </form-login-config>
    </login-config>

    <!-- Protect the admin maintenance home page (aka search page for users, posts, etc.)  -->
    <security-constraint>
      <web-resource-collection>
          <web-resource-name>maintenance</web-resource-name>
          <url-pattern>/admin/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Protect the YouTube search page used for creating a new post  -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>youtubeSearch</web-resource-name>
            <url-pattern>/youtubeSearch.jsp</url-pattern>
            <url-pattern>/youtubeSearchAction</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Protect pages used for adding site content  -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addContent</web-resource-name>
            <url-pattern>/createPostChoice.jsp</url-pattern>
            <url-pattern>/createPostForm.jsp</url-pattern>
            <url-pattern>/createPostSuccess.jsp</url-pattern>
            <url-pattern>/createPostAction</url-pattern>
            <url-pattern>/addCommentAction</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
    <web-resource-collection>
        <web-resource-name>editContent</web-resource-name>
        <url-pattern>/editPostAction</url-pattern>
        <url-pattern>/editPostForm.jsp</url-pattern>
        <url-pattern>/deletePostSuccess.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
        <role-name>user</role-name>
    </auth-constraint>
</security-constraint>



    <!-- Protect logout-related pages-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>loginLogout</web-resource-name>
            <url-pattern>/loginAction</url-pattern>
            <url-pattern>/loginSuccess</url-pattern>
<!--            <url-pattern>/logoutAction.jsp</url-pattern>-->
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
      <role-name>admin</role-name>
    </security-role>
    <security-role>
      <role-name>user</role-name>
    </security-role>

    <!--  Custom error pages -->
    <error-page>
      <error-code>404</error-code>
      <location>/custom_error_pages/error404.jsp</location>
    </error-page>

</web-app>
